<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('partials/header') %>
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/navbar') %>

    <main class="container mt-4">
        <%- include(page) %>
    </main>

    <!-- footer -->
    <%- include('partials/footer') %>
</body>
</html>
